/* reset */
* { margin: 0; padding: 0; -webkit-text-size-adjust: none; word-break: keep-all }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: '맑은 고딕', 'Malgun Gothic', Helvetica, 'Apple SD Gothic Neo', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
    padding: 0;
    background: 0;
    border: 0;
    cursor: pointer;
    letter-spacing: -1px;
}

/* lib : syntaxhighlighter */
.syntaxhighlighter {
	overflow-y: hidden !important;
	padding: 20px 0;
	margin-bottom: 30px !important;
  }

/* wsg */
.guide-side .tn-lnb-menu{ overflow-y: auto; max-height: 100%; }
.guide-side .tn-lnb-menu .menu-item{padding: 20px}
.guide-side .tn-lnb-menu .menu-item > a{ font-weight: bold;font-size: 20px;line-height: 32px;}
.guide-side .tn-lnb-menu .menu-item .sub-menu li{line-height: 25px}
.guide-side .tn-lnb-menu .menu-item > a.on,
.guide-side .tn-lnb-menu .menu-item .sub-menu .on{color:#ed4b30}
.guide-side .tn-lnb-menu .menu-item .sub-menu a{cursor: pointer;}

.guide-side{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    background: #fff;
    box-shadow: 0 0 5px #CCC;
    color: #333;
    box-sizing: border-box;
    letter-spacing: 0;
}

.guide-container{ padding-left: 320px; }
.guide-container .guide-smaple{padding: 20px;}
.guide-container .guide-smaple .guide-h1{margin: 0 0 24px 0; border-bottom: 2px solid #645F66; color: #645F66; font-size: 40px; line-height:50px }
.guide-container .guide-smaple h3{padding: 24px 0 8px; color: #545151; font-size: 24px; line-height: 32px; letter-spacing: 0;}
.guide-container .guide-smaple .sub-txt{margin: 0 0 20px; padding: 10px; color: #545151; border: 1px solid #e3e3e3; border-radius: 5px; background: #eee;}


/* snippet */
.w100{width:100%}

/* buttons */
.btn_wrap{overflow: hidden;}
.btn_wrap.row-2 > span{ float: left; width: 50%; padding-right: 2.5px; box-sizing: border-box;}
.btn_wrap.row-2 > span:last-child{ float: left; width: 50%; padding:0 0 0 2.5px; box-sizing: border-box;}
.btn_wrap.dp-flex {
    display: flex;
    justify-content: space-between;
}
.btn_wrap.dp-flex >button:nth-child(2){margin:0 5px}
.btn_org {
	display: inline-block;
	min-width: 182px;
	height: 52px;
	padding: 0;
	font-size: 16px;
	font-weight: bold;
	line-height: 0;
	box-sizing: border-box;
	color: #fff;
	background-color: #aa301c;
    border-radius: 2px;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0;
}
.btn_org > span{ display: inline-block;line-height: 50px; padding: 0 20px 0;}

.btn_no{background: #5b5b5b}
.btn_ok:active,
.btn_ok:hover{background: #771403}
.btn_no:active,
.btn_no:hover{background: #2b2b2b}

.btn_ok:disabled,
.btn_ok:disabled:active,
.btn_ok:disabled:hover{background: #aa301c4a}
.btn_no:disabled,
.btn_no:disabled:active,
.btn_no:disabled:hover{background: #5b5b5b5c}

.btn_icn{display: inline-block; height: 32px; padding: 0; border-radius: 2px; text-align: center; vertical-align: middle; font-size: 14px; line-height: 30px; letter-spacing: 0; box-sizing: border-box; background-color: #f3f5f8; border: 1px solid #9b9fa8; color: #575b63;}
.btn_icn > span{padding: 0 12px 0;}
.btn_icn > span > i.fa,
.btn_icn > span > i.fas{padding: 0 5px 0 0;}

.btn_icn:active,
.btn_icn:hover {
	background-color:#e9ebef;
	border-color:#2b2e38;
	color:#2b2e38;
}
.btn_icn:disabled,
.btn_icn:disabled:active,
.btn_icn:disabled:hover {
	background-color:#fff;
	border-color:#e9ebef;
	color:#e9ebef;
}