/* reset */
* { margin: 0; padding: 0; -webkit-text-size-adjust: none; word-break: keep-all }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: '맑은 고딕', 'Malgun Gothic', Helvetica, 'Apple SD Gothic Neo', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
    padding: 0;
    background: 0;
    border: 0;
    cursor: pointer;
    letter-spacing: -1px;
}
a { text-decoration: none;}
a:link,
a:hover,
a:active,
a:visited{text-decoration: none;color:initial}

input[type="checkbox"],
input[type="radio"]{overflow: hidden; border: 0; position: absolute; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%);}

/* lib : syntaxhighlighter */
.syntaxhighlighter {
	overflow-y: hidden !important;
	padding: 20px 0;
	margin-bottom: 30px !important;
  }

/* wsg */
html.fixed{overflow-y: hidden;}
.guide-side{transition: all ease .5s}
.guide-side.open{left:0}
.guide-side .tn-lnb-menu{ overflow-y: auto; max-height: 100%; }
.guide-side .tn-lnb-menu .menu-item{padding: 20px}
.guide-side .tn-lnb-menu .menu-item > a{ font-weight: bold;font-size: 20px;line-height: 32px;}
.guide-side .tn-lnb-menu .menu-item .sub-menu li{line-height: 25px}
.guide-side .tn-lnb-menu .menu-item > a.on,
.guide-side .tn-lnb-menu .menu-item .sub-menu .on{color:#ed4b30}
.guide-side .tn-lnb-menu .menu-item .sub-menu a{position: relative; cursor: pointer;}
.guide-side .tn-lnb-menu .menu-item .sub-menu a:after{
	display:block;
	content:attr(data-menu);
	position:absolute;
	top:-7px;
	right:-52px;
	padding:5px 8px;
	background:#eee;
	border:1px solid #e3e3e3;
	border-radius:3px;
	opacity:0;
	transition:all ease .5s;
}
.guide-side .tn-lnb-menu .menu-item .sub-menu a:hover:after{
	opacity:1;
}
.guide-side{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    background: #fff;
    box-shadow: 0 0 5px #CCC;
    color: #333;
    box-sizing: border-box;
    letter-spacing: 0;
}


.guide-container{ padding-left: 320px; }
.guide-container .guide-smaple{padding: 20px;}
.guide-container .guide-smaple .guide-h1{margin: 0 0 24px 0; border-bottom: 2px solid #645F66; color: #645F66; font-size: 40px; line-height:50px }
.guide-container .guide-smaple h3{padding: 24px 0 8px; color: #545151; font-size: 24px; line-height: 32px; letter-spacing: 0;}
.guide-container .guide-smaple .sub-txt{margin: 0 0 20px; padding: 10px; color: #545151; border: 1px solid #e3e3e3; border-radius: 5px; background: #eee; line-height: 1.6}
.mo-guide-side{display: none;}


/* snippet */
.w100{width:100%}
.hidden {  /* 접근성 block context */
	overflow: hidden;
	border: 0;
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
}
.hiddenInline { /* 접근성 inline context */
	overflow: hidden;
	display: inline-block;
	border: 0;
	margin: -1px;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
}

/* buttons */
.btn_wrap{overflow: hidden;}
.btn_wrap.row-2 > span{ float: left; width: 50%; padding-right: 2.5px; box-sizing: border-box;}
.btn_wrap.row-2 > span:last-child{ float: left; width: 50%; padding:0 0 0 2.5px; box-sizing: border-box;}
.btn_wrap.dp-flex {
    display: flex;
    justify-content: space-between;
}
.btn_wrap.dp-flex >button:nth-child(2){margin:0 5px}
.btn_org {
	display: inline-block;
	position: relative;
	min-width: 182px;
	height: 52px;
	padding: 0;
	font-size: 16px;
	font-weight: bold;
	line-height: 0;
	box-sizing: border-box;
	color: #fff;
	background-color: #aa301c;
    border-radius: 2px;
    text-align: center;
    vertical-align: middle;
	letter-spacing: 0;
}
/* ie9 버튼 pressed 효과 제거 position 속성 추가 */
.btn_org > span{ display: inline-block; position: absolute; top: 0;left: 0;right: 0;bottom: 0; line-height: 50px; padding: 0 20px 0; color:#fff}

.btn_no{background: #5b5b5b}
.btn_ok:active,
.btn_ok:hover{background: #771403}
.btn_no:active,
.btn_no:hover{background: #2b2b2b}

.btn_ok:disabled,
.btn_ok:disabled:active,
.btn_ok:disabled:hover,
.btn_ok.disabled,
.btn_ok.disabled:active,
.btn_ok.disabled:hover{background: #e49c90}
.btn_no:disabled,
.btn_no:disabled:active,
.btn_no:disabled:hover,
.btn_no.disabled,
.btn_no.disabled:active,
.btn_no.disabled:hover{background: #b6b6b6}

.btn_icn{display: inline-block; height: 32px; padding: 0; border-radius: 2px; text-align: center; vertical-align: middle; font-size: 14px; line-height: 30px; letter-spacing: 0; box-sizing: border-box; background-color: #f3f5f8; border: 1px solid #9b9fa8; color: #575b63;}
.btn_icn > span{padding: 0 12px 0;}
.btn_icn > span > i.fa,
.btn_icn > span > i.fas{padding: 0 5px 0 0;}

.btn_icn:active,
.btn_icn:hover {
	background-color:#e9ebef;
	border-color:#2b2e38;
	color:#2b2e38;
}
.btn_icn:disabled,
.btn_icn:disabled:active,
.btn_icn:disabled:hover {
	background-color:#fff;
	border-color:#e9ebef;
	color:#e9ebef;
}

/* selection controls */
input.form_chk + label{ font-family: 'Font Awesome 5 Free';font-weight: normal; font-size: 28px}
input.form_chk + label:before{content: "\f0c8"; color:#717171; padding-right: 5px}
input.form_chk + label:hover:before,
input.form_radio + label:hover:before{color:#333}
input.form_chk:checked + label:before{content: "\f14a"; color:#006cd1}
input.form_chk:disabled + label,
input.form_radio:disabled + label{opacity: .3;}
input.form_chk:disabled + label:hover:before,
input.form_radio:disabled + label:hover:before{color: #717171;}
input.form_chk:disabled + label:before:hover,
input.form_radio:disabled + label:before:hover{color:#717171}

input.form_radio + label{ font-family: 'Font Awesome 5 Free';font-weight:normal; font-size: 28px}
input.form_radio + label:before{content: "\f111"; color:#717171; padding-right: 5px}
input.form_radio:checked + label:before{content: "\f058";color:#006cd1}
input.form_chk.inp-error + label:before,
input.form_radio.inp-error + label:before{color:#ed4b30}
input.form_chk.inp-error:disabled + label,
input.form_radio.inp-error:disabled + label{opacity: 1;}
input.form_chk.inp-error:disabled + label:before,
input.form_radio.inp-error:disabled + label:before{color:#ed4b30}

.form_grp > span{display: inline-block;	padding: 0 10px 0 0}
.form_grp > span:last-child{padding-right: 0;}

input + label > .label-txt{position: relative; top:-2px; font-size: 16px; vertical-align: middle}

ul.ui-tab{ width: 100%; display: table; border-collapse: collapse; border: 1px solid #333; box-sizing: border-box; }
ul.ui-tab li{ position: relative; width: 33.3333%; display: table-cell; border: 1px solid #333; }
ul.ui-tab li span{ display: block; width:100%; line-height: 28px; color:#2b2b2b; }
.ui-tab-btn { display: block; width: 100%; padding: 2px; box-sizing:border-box; }
.ui-tabWrap input + label.ui-tab-btn:before,
.ui-tab-btn:before{ display:block; content:''; background:#eee; position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: -1; }
.ui-tabWrap input:checked + label.ui-tab-btn:after,
.ui-tab-btn.on:after{ content:''; display:block; position:absolute; top:-2px; left:-2px; right:-2px; bottom:-2px; border: 3px solid rgba(255, 0, 0, 1); }
.ui-tabWrap input:focus + label.ui-tab-btn:after{ content:''; display:block; position:absolute; top:-1px; left:-1px; right:-1px; bottom:-1px; -webkit-box-shadow: 0px 0px 1px  #4D90FE; box-shadow: 0px 0px 1px  #4D90FE; }
.ui-tab-list{display:none;width: 100%; padding: 10px; border: 1px solid #333; border-top: 0; box-sizing: border-box}
.ui-tab-list.on{display:block; }

html.mobile .selectWrap{position: relative;font-family: 'Font Awesome 5 Free'; font-weight: 900; color: #333;}
html.mobile .selectWrap:after{content: "\f107"; position: absolute; z-index: 1111; top: 50%; transform: translateY(-50%); right: 10px;}
html.mobile .form_select{ -webkit-appearance: none; position: relative; width: 100%; padding: 10px; border-radius: 5px; border: 1px solid #aaa;}

.selectWrap.ui-selectbox{position: relative; font-family: 'Font Awesome 5 Free'; font-weight: 900; color: #333;}
.selectWrap.ui-selectbox:after{content: "\f107"; position: absolute; z-index: 1111; top: 50%; transform: translateY(-50%); right: 10px;}
.selectWrap.ui-selectbox.active.ui-result-active:after{content: "\f106"; position: absolute; z-index: 1111; top: 50%; transform: translateY(-50%); right: 10px;}
.selectWrap.ui-selectbox .ui-result-ul {display:none; position: absolute; top: 100%; z-index: 1010; width: 100%; border: 1px solid #aaa; border-top: 0; background: #fff; -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15); box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15); clip: rect(0, 0, 0, 0); -webkit-clip-path: inset(100% 100%); clip-path: inset(100% 100%); box-sizing: border-box}
.selectWrap.ui-selectbox.active.ui-result-active .ui-result-ul {display:block;clip: auto; -webkit-clip-path: none; clip-path: none;margin-top: -1px; border-radius: 0 0 4px 4px; background-clip: padding-box;z-index: 1112;}
.selectWrap.ui-selectbox.active.ui-result-active .ui-result-ul button{display: block;width: 100%;padding: 8px;cursor: pointer;box-sizing: border-box;text-align: left;}
.selectWrap.ui-selectbox.active.ui-result-active .ui-result-ul button:hover,
.selectWrap.ui-selectbox.active.ui-result-active .ui-result-ul button:focus,
.selectWrap.ui-selectbox.active.ui-result-active .ui-result-ul button:active{background:#c1c1c1;}
.selectWrap.ui-selectbox .pc_selwrap{position: relative;}
.selectWrap.ui-selectbox .pc_selwrap > div.selOneWrap{position: relative;display: block;overflow: hidden; height: 25px;border: 1px solid #aaa;border-radius: 5px;background-color: #fff;background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #fff), color-stop(50%, #f6f6f6), color-stop(52%, #eee), to(#f4f4f4));background: linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);background-clip: padding-box;-webkit-box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);color: #444;text-decoration: none;white-space: nowrap;line-height: 24px;}
.selectWrap.ui-selectbox .pc_selwrap > div.selOneWrap .ui-selected-one{overflow: hidden;width:100%;line-height: 24px;text-align:left;text-overflow: ellipsis;white-space: nowrap;cursor: pointer;box-sizing: border-box;text-indent: 8px;}
.selectWrap.ui-selectbox.active.ui-result-active .pc_selwrap > div.selOneWrap{border: 1px solid #aaa; border-bottom-right-radius: 0; border-bottom-left-radius: 0; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #eee), color-stop(80%, #fff)); background-image: linear-gradient(#eee 20%, #fff 80%); -webkit-box-shadow: 0 1px 0 #fff inset; box-shadow: 0 1px 0 #fff inset;border-bottom: 1px solid #d4d4d4; z-index: 1011;}


/* modal */
.laypop{display: none;z-index: 10; position: fixed; left: 0; top: 0; width: 100%; height: 100%; overflow: scroll; overflow-x: hidden;}
.laypop:before{content: ""; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #000; opacity: .7;}
.laypop .wrap-modal{ display: flex; justify-content: center; flex-direction: column; position: relative; padding: 0 15px; top: 0; height: 100%; letter-spacing: -2px; color: #222; }
.laypop .wrap-modal .inner{ overflow: hidden; position: relative; top:0; width: 100%; margin: 0; padding: 0;  box-sizing: border-box; border-radius: 5px; background:#fff;}
.laypop.trans-ms .wrap-modal .inner{ transition: all ease-in-out .5s; top:-100%;}
.laypop.trans-ms.on .wrap-modal .inner{ top:0; }
.laypop.type01 .wrap-modal .inner{width:728px;margin:0 auto}
.laypop_header h1{
    padding: 24px;
    text-align: center;
    font-size: 18px;
    border-bottom:1px solid #eee;
}

.laypop_content {
	overflow: auto;
	height: 50vh;
    margin-top:14px;
    padding:0 14px 14px;
	border-bottom:1px solid #eee;
}
.laypop_content .scrollWrap{ height: 100%;}

.laypop_content .scrollview{line-height: 1.6}
.laypop_footer{padding: 14px;}

/* gnb */
.mo_submenu_wrap { white-space: nowrap; width: 100%; overflow: hidden; padding: 5px 12px; border: 1px solid #eee; box-sizing: border-box;}
.mo_submenu_wrap ul{overflow: auto;width: 100%; -webkit-overflow-scrolling : touch;}
.mo_submenu_wrap li{position:relative;display: inline-block;padding:5px; line-height: 1}
.mo_submenu_wrap li:after{content: ''; position: absolute; top: 50%; right: -2px; font-size: 10px; transform: translateY(-50%); width: 1px; height: 10px; background: #cdcdcd}
.mo_submenu_wrap li:last-child:after{display:none;}

/* tooltip */
.uiTooltip a {display: inline-block; padding: 10px 15px; background: #450e4c; border-radius: 5px; color: #fff; font-size: 12px;}
.tooltipContent {visibility:hidden; position: absolute; padding: 10px; background-color: #ffc8a2;	border-radius: 5px; font-size: 12px; text-align: left; z-index: 9999; opacity: 0; transition: opacity 1s;}
.tooltipContent.active {visibility: visible; opacity: 1;} 
.tooltipContent::after {content: ''; position: absolute; border-style: solid; display: block; width: 0;}
.right.tooltipContent::after {top: 18px; left: -7px; border-color: transparent #ffc8a2; border-width: 10px 10px 10px 0;}
.left.tooltipContent::after {top: 18px; right: -7px; border-color: transparent #ffc8a2; border-width: 10px 0 10px 10px;}
.top.tooltipContent::after {bottom: -7px; left: 54px; border-color: #ffc8a2 transparent; border-width: 7px 7px 0;}
.bottom.tooltipContent::after {top: -7px; left: 54px; border-color: #ffc8a2 transparent; border-width: 0 7px 7px;}


/* scroll */
.ui-scrollview{ overflow: hidden; position: relative; height:300px }
.ui-scrollarea{ overflow-x: hidden; overflow-y: scroll; position: absolute; left: 0; }
/* 스크롤바 크기 만큼 + padding-right */
.ui-content{ padding-right:15px; -webkit-user-select: none!important; -moz-user-select: none!important; -ms-user-select: none!important; user-select: none!important;} 
.ui-content::-webkit-scrollbar { display: none; }
.ui-scrollbar{ overflow: hidden; position: absolute; top: 0; right: 0; background: #eee; height: 100%; width: 10px; border-radius: 5px;}	
.ui-scrollbar .bar{ display: block; position: absolute; top:0; left:0; background: #555; width: 100%; border-radius: 5px; z-index: 1; /* cursor: pointer; */}
.ui-scrollbar .bar:hover{background:#222}
.scrollview{line-height: 1.6}


/* 어코디언 */
.ui-accordian.sub-accord{padding:10px;}
.ui-accordian h3.acco-btn{padding: 0;margin: 0;}
.ui-accordian h3.acco-btn .ui-btn-acco{display: block;width: 100%;padding: 10px;text-align: left;border-bottom: 0; font-size: 16px; font-weight: bold;}
.ui-accordian .ui-acco-ct{overflow: hidden;height:0px;}
.ui-accordian .acco-ct {display: block;width: 100%;padding: 10px; border-bottom: 0;border-top: 0;background:#e1e1e1;box-sizing: border-box;}
.ui-accordian li{ border: 1px solid #c0c0c0; border-bottom:0; box-sizing: border-box;transition: all ease .5s; }
.ui-accordian li:last-child{border-bottom:1px solid #c0c0c0}
.ui-accordian li.active { border: 1px solid red; border-bottom:0; }
.ui-accordian li.active + li{border-top:1px solid red;}
.ui-accordian li.active:last-child{border-bottom:1px solid red}
.ui-accordian li:hover{border-color:#333;border-top:1px solid #333 !important}
.ui-accordian li:hover + li{border-top:1px solid #333}
.ui-accordian li:last-child:hover{border-bottom:1px solid #333}

/* 슬라이더 */
.sliderWrap div.hslider {position: relative;padding: 0;width: 540px;height: 20px;background-color: #e7e7e7;border: 1px solid black;}
.sliderWrap .hsliderHandle {margin: 0;padding: 7px 2px;width: 24px;height: 12px;background-color: #808080;position: absolute;left: -300em;top: -30em;z-index: 10;border: 1px solid black;}
.sliderWrap .hsliderValue { margin: 24px 0 0 -50px; padding: 5px; width: 100px; height: 24px; text-align: center; font-size:14px; font-weight: bold; position: absolute; left: -30em; top: -30em; z-index: 10; box-sizing: border-box}
.sliderWrap div.vslider {position: relative;padding: 0;height: 240px;width: 20px;background-color: #e7e7e7;border: 1px solid black;}
.sliderWrap .vsliderHandle { margin: 0; padding: 2px 7px; width: 12px; height: 24px; background-color: #808080; position: absolute; left: -300em; top: -30em; z-index: 10; border: 1px solid black; }
.sliderWrap .vsliderValue { margin: 0 0 0 30px; padding: 5px; width: 100px; height: 24px; text-align: left; font-weight: bold; position: absolute; left: -30em; top: -30em; z-index: 10; box-sizing: border-box}
.sliderWrap div.sliderRange {padding: 0;width: 1px;height: 1px;background-color: #939393;position: absolute;left: -300em;top: -30em;z-index: 0;}
.sliderWrap .focus { background-color: #eee !important; }


/* media query */
@media screen and (max-width: 768px) {
	.guide-side{left:-320px; }
	.guide-container{padding: 43px 0 0 0;}
	.mo-guide-side{ display: block; text-align: right; background: #eee; width: 100%; border-bottom: 1px solid #e3e3e3; position: fixed; box-sizing: border-box; padding: 10px 20px; z-index: 2;}
	.mo-guide-side > button{position: relative; z-index: 2;}
	.mo-guide-side > button,
	.mo-guide-side > button span { display : inline-block; transition : all .4s; box-sizing : border-box; }
	.mo-guide-side > button { position : relative; width : 20px; height : 20px; }
	.mo-guide-side > button span { position : absolute; left : 0; width : 100%; height : 2px; background-color : rgb(53, 53, 53); border-radius : 4px; }
	.mo-guide-side > button span:nth-of-type(1) {top: 0;}
	.mo-guide-side > button span:nth-of-type(2) {top: 9px;}
	.mo-guide-side > button span:nth-of-type(3) {bottom: 0;}
	.mo-guide-side > button.active { -webkit-transform : rotate(180deg); transform : rotate(180deg); }
	.mo-guide-side > button.active span:nth-of-type(1){ -webkit-transform : translateY(10px) rotate(-45deg); transform : translateY(10px) rotate(-45deg); }
	.mo-guide-side > button.active span:nth-of-type(2){-webkit-transform : translateY(0) rotate(45deg);transform : translateY(0) rotate(45deg);top: initial;}
	.mo-guide-side > button.active span:nth-of-type(3){ opacity : 0; }

	.mo-guide-dim.active{display:block;position: fixed;; top:0;left:0;right:0;bottom:0; background:rgba(0,0,0,.7); z-index:1}

	.btn_org{min-width: 0}
	
	input.form_chk + label{display: flex; align-items: center}
	input + label > .label-txt{position: initial;}

	.scrollview{overflow-y: auto}
}